:root {
  --clr-white: hsl(0, 100%, 100%);
  --clr-grey-500: hsl(0, 0%, 63%);
  --clr-grey-800: hsl(0, 0%, 27%);
  --clr-black: hsl(0, 0%, 0%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--clr-white);
  color: var(--clr-grey-500);
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.site-header {
  width: 100%;
  padding-block: 1.5em;
  color: var(--clr-white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: 0.3s;
}

.site-header.scroll,
.site-header.open {
  background-color: var(--clr-white);
  color: var(--clr-black);
}

.site-header.open {
  padding-block: 2em;
}

.header-inner {
  width: 90%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: max-content 1fr;
  align-items: center;
  position: relative;
}

.btn-menu {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.icon-menu {
  width: 100%;
  height: 21px;
  position: relative;
  transition: 0.3s;
}

.btn-menu.active .icon-menu {
  transform: rotate(180deg);
}

.line {
  width: 100%;
  height: 3px;
  border-radius: 100px;
  background-color: var(--clr-white);
  position: absolute;
  left: 0;
  transition: 0.3s;
}

.site-header.scroll .line,
.site-header.open .line {
  background-color: var(--clr-grey-500);
}

.line:first-child {
  top: 0px;
}

.line:nth-child(2) {
  top: 9px;
}

.line:last-child {
  top: 18px;
}

.btn-menu.active .line:first-child {
  top: 9px;
  transform: rotate(45deg);
}

.btn-menu.active .line:nth-child(2) {
  top: 9px;
  transform: scaleX(0);
}

.btn-menu.active .line:last-child {
  top: 9px;
  transform: rotate(-45deg);
}

.logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.site-header.open .logo {
  display: none;
}

.logo svg {
  width: 100px;
}

.nav-main {
  position: absolute;
  top: 50%;
  right: 0;
  transform-origin: right;
  transform: translateY(-50%) scale(0);
  transition: 0.3s;
}

.site-header.open .nav-main {
  transform: translateY(-50%) scale(1);
}

.nav-list {
  display: flex;
  align-items: center;
  font-weight: 700;
  text-transform: lowercase;
  color: var(--clr-black);
}

.nav-list li {
  position: relative;
}

.nav-list a {
  padding: 0.5em 0.75em;
}

.nav-list li::after {
  content: "";
  width: 40%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--clr-black);
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%) scaleX(0);
  transform-origin: center;
  transition: 0.3s;
}

.nav-list li:hover::after {
  transform: translateX(-50%) scaleX(1);
}

.hero-image {
  width: 100%;
  aspect-ratio: 4 / 3;
  overflow: hidden;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.hero-content,
.about-text {
  position: relative;
  padding: 3em 2em;
}

.hero-title {
  font-size: clamp(1.9rem, -0.5rem + 12vw, 2.5rem);
  font-weight: 700;
  color: var(--clr-black);
  letter-spacing: -1px;
}

.hero-desc,
.about-desc {
  margin-block: 1em 2em;
  line-height: 1.25em;
}

.btn-cta {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5em;
  color: var(--clr-black);
  transition: 0.3s;
}

.btn-cta:hover {
  color: var(--clr-grey-500);
}

.hero-navigation {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
}

.hero-navigation button {
  border: none;
  background-color: var(--clr-black);
  color: var(--clr-white);
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: 0.3s;
}

.hero-navigation button:hover {
  background-color: var(--clr-grey-800);
}

.hero-navigation svg {
  width: 10px;
}

.about-image {
  aspect-ratio: 3 / 2;
  overflow: hidden;
}

.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-heading {
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 700;
  color: var(--clr-black);
  letter-spacing: 0.25em;
}

.about-desc {
  margin-block: 1em 0;
}

.site-footer {
  text-align: center;
  padding: 1em;
}

.site-footer p a {
  color: black;
}

@media (min-width: 768px) {
  body {
    font-size: 0.875rem;
  }

  .site-header {
    width: max-content;
  }

  .header-inner {
    width: unset;
    margin-inline: 2em;
  }

  .btn-menu {
    display: none;
  }

  .nav-main {
    margin-left: 2em;
    position: unset;
    transform: unset;
  }

  .nav-list {
    font-weight: 600;
    color: var(--clr-white);
  }

  .site-header.scroll .nav-list {
    color: var(--clr-black);
  }

  .nav-list li::after {
    background-color: var(--clr-white);
  }

  .site-header.scroll .nav-list li::after {
    background-color: var(--clr-black);
  }

  .hero-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .hero-image {
    aspect-ratio: 1 / 1;
  }

  .hero-content {
    padding: 1.5em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .btn-cta {
    width: max-content;
  }

  .hero-navigation {
    top: 100%;
    left: 0;
  }

  .hero-navigation button {
    width: 50px;
    height: 50px;
  }

  .about-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .about-image:first-child {
    grid-column: span 2;
    aspect-ratio: 21 / 9;
  }

  .about-image:last-child {
    aspect-ratio: 1 / 1;
  }

  .about-text {
    margin-block: auto;
  }

  .about-desc:last-child {
    margin-block: 1em 0;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 1rem;
  }

  .hero-inner,
  .about-inner {
    grid-template-columns: 1fr 1fr 0.4fr 1fr;
  }

  .hero-image {
    grid-column: span 2;
    aspect-ratio: 16 / 11;
  }

  .hero-content {
    grid-column: span 2;
  }

  .hero-navigation button {
    width: 14%;
    height: 60px;
  }

  .about-image:first-child {
    grid-column: 1;
    aspect-ratio: 4 / 3;
  }

  .about-image:last-child {
    aspect-ratio: 4 / 3;
  }

  .about-text {
    grid-column: span 2;
    padding: 0 2em;
  }
}

@media (min-width: 1120px) {
  .hero-image {
    aspect-ratio: 16 / 8;
  }
}
